<img width="1024" [src]="'/assets/metal_back.jpg'"/>

<input type="checkbox" id="payt2"/><label for="payt2">ON</label>

<app-knob  class="knob"></app-knob>
<app-wave  class="app-wave"> </app-wave>
<div class="container">
<div class="box"  cdkDrag>
  <!-- cdkDrag модуль, позволяющий хватать и двигать всё, что внутри этого тэга-->
  <img width="400"  [src]="'/assets/1379295.png'" cdkDragHandle />
  <!-- cdkDragHandle часть дива, за которую хватаем и двигаем-->
</div>
</div>
<app-equalizer [panel]='"Panel1"' (onClick)="this.panelType=$event" class="equalizer"></app-equalizer>
<!-- onClick это функция @Output() onClick = new EventEmitter()  $event это пердаваемый параметр из дочернего компонента -->


