
.slider{
  position: absolute;
  top: 1100px;
  width: 450px;
}

.equalizer{
  position: absolute;
  top: 10px;
  left: 200px;
  width: 1290px;
  height: 120px;
}

#payt2 {display: none;}
[for="payt2"] {
  position: relative;
  display: block;
  width: 90px;
  height: 10px;
  padding: 15px;
  border-radius: 50px;
  line-height: 10px;
  color: #31b3ff;
  text-shadow: 1px 1px 0px rgba(255,255,255,.15);
  background: rgb(71, 71, 71);
  box-shadow:
    0 1px 0 rgba(255,255,255,.2),
    inset 0 0 0 5px rgb(60, 60, 60),
    inset 0 6px 6px rgba(0,0,0,.5),
    inset 0 -6px 1px rgba(255,255,255,.2);
  cursor: pointer;
}
[for="payt2"]:before {
  content: "OFF";
  position: absolute;
  right: 15px;
  color: #000;
}
[for="payt2"]:after {
  content: "";
  position: absolute;
  left: 5px; top: 5px;
  display: block;
  width: 50px;
  height: 30px;
  border-radius: 50px;
  background: #ccc linear-gradient(#fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  transition: .5s;
}
#payt2:checked ~ [for="payt2"]:after {
  left: 65px;
}


.container{
  clip-path: circle(500px);
}
.app-wave{
  position: absolute;
  left: 5px;
  top: 190px;
}


.knob{
  position: absolute;
  left: 740px;
  top: 330px;
}
