mat-button-toggle-group{

  left: 10px;
  height : 150px ;
  width : 580px;
  border: none;
}
mat-button-toggle{
  position: relative;
  top: 15px;
  border: none;
  height : 100px ;
  width : 100px;
  background:url(/assets/button_gac_off.png) no-repeat;
}
.button-one{
  left:18px;
}
.button-one ::ng-deep.mat-button-toggle-focus-overlay{
  display: none;
  height: 0px;
}
.button-one ::ng-deep.mat-ripple mat-button-toggle-ripple{
  display: none;
}
.button-one.mat-button-toggle-checked{
  left:18px;
  background:url(/assets/button_gac_on.png) no-repeat;
}
.button-two{
  left:28px;
}
.button-two.mat-button-toggle-checked{
  left:28px;
  background:url(/assets/green_button_on.png) no-repeat;
}
.button-three{
  left:85px;
}
.button-three.mat-button-toggle-checked{
  left:85px;
  background:url(/assets/red_button_on.png) no-repeat;
}
::ng-deep.mat-focus-indicator{
  width: content-box;
  height: 100px ;
}



