
<mat-button-toggle-group  #toggleGroup = "matButtonToggleGroup">
  <mat-button-toggle class="button-one"  (click)='changePanel(toggleGroup.value)' value="button1"></mat-button-toggle>
  <mat-button-toggle class="button-two" (click)='changePanel(toggleGroup.value)' value="button2"></mat-button-toggle>
  <mat-button-toggle  class="button-three" (click)='changePanel(toggleGroup.value)' value="button3"></mat-button-toggle>
  {{toggleGroup.value}}
</mat-button-toggle-group>

