.canvas-wave{
  border:2px solid black;
  position: absolute;
  top: 2000px;
  left: 400px;
}



.value{
  position: absolute;
  top: 260px;
  left: 500px;
}
.steps{
  position: absolute;
  top: 260px;
  left: 225px;
}
.note{
  transform: rotate(270deg);
  position: absolute;
  top: 260px;
  left: 305px;
  height: 76px;
}
input[type=range] {
  -webkit-appearance: none;
  overflow: hidden;
  background:transparent;
  width: 120px;
  transform: rotate(270deg);
  border:2px solid #31b3ff
}

input[type="range"]::-webkit-slider-thumb {/* элемент, меняющий положение*/
  -webkit-appearance: none;
  background-color:  #696969;
  cursor: pointer;
  width: 11px;
  height: var( --width, 16px );
  border: 1px solid #696969;
  box-shadow: -10px 0 #696969, -20px 0 #696969, -30px 0 #696969, -40px 0 #696969, -50px 0 #696969,
  -60px 0 #696969, -70px 0 #696969, -80px 0 #696969, -90px 0 #696969, -100px 0 #696969, -110px 0 #696969;
}
.Toggle-Group-Arp{
  position: absolute;
  top: 550px;
  left: 40px;
  border: none;
}
.button-one-arp{
  border-radius: 9px;
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  width: 221px;
  height: 50px;
  color: rgb(201,201,201);
  text-shadow: 2px 2px rgb(255,0,0);

  background: rgb(65,65,65);
  box-shadow: inset rgba(10,10,10,.6) -5px -5px 2px 2px, inset rgba(140,140,140,1) 0px 4px 2px 0px;
  /* box-shadow:  цвет тени, смещение по ширине, смещение по высоте, радиус размытия, растяжение*/
  border:2px solid rgb(75,75,75);
}

.button-one-arp.mat-button-toggle-checked{
  color: black;
  width: 221px;
  height: 50px;
  background:url(/assets/button_gac_on.png) no-repeat;
}

::ng-deep.mat-focus-indicator{
  width: 221px;
  height: 50px;
}
.button-two-arp ::ng-deep.mat-button-toggle-label-content{
  text-shadow: 0px 0px 4px rgb(100,0,0);
  font-weight: 700;
}
.button-two-arp{
  color: rgb(201,201,201);
  text-shadow: 7px 7px rgba(100,100,100,.8);
}

