<div width="700" height="400" [ngStyle]="{ position:'absolute', left:'20px' , top:'30px'}">
  <img width="704" [src]="'/assets/back_gater.png'"/>
  <p *ngFor="let symbol of plusArray;  let i = index" (click)="removeCell(i)"
     [ngStyle]="{ position:'absolute', left:cellPositions[i]*42+15+'px' , top:'6px', cursor: 'pointer', color: '#31b3ff'}">
     {{symbol}}</p>
  <p *ngFor="let letter of  minusArray;  let m = index" (click)="addCell(m)"
     [ngStyle]="{ position:'absolute', left:cellPositions[m]*42+5+'px' , top:'6px', cursor: 'pointer', color: '#ee1c08'}">
    {{letter}}</p>

  <div  [ngStyle]="{ position:'absolute', left:'16px' , top:'40px', width: '688px',  height:'150px' }" >
    <input *ngFor="let cell of cellsHeights;  let k = index" type="range" min="1" max="100"
           [attr.value]="cellsHeights[k]" [style.--width]="soundSteps[k]*41+'px'"
           [ngStyle]="{ position:'absolute', left:cellPositions[k]*42-84-21*(soundSteps[k]-1)+'px' ,
           top:40-20.5*(soundSteps[k]-1)+'px', height:soundSteps[k]*41+'px' }"
           >
</div>
  <!--  -->
<input type="number" class="value"  min="10" max="120" value="42">
<input type="number" class="steps" (change)="stepConfigChange($event)" min="1" max="16" value="8">
<input type="range"  class="note" min="1" max="100" value="40"
   [ngStyle]="{background:'linear-gradient(to right, #cc181e 0%, #cc181e '+cellsHeights[0]+'% , transparent '+
  cellsHeights[0]+'% , transparent 100%)' }" (change)="cellValueChange($event, 0)"
[style.--width]="width+'px'">
</div>
<mat-button-toggle-group  #toggleGroup = "matButtonToggleGroup" class="Toggle-Group-Arp">
  <mat-button-toggle class="button-one-arp"   value="button1">FIRST BUTTON</mat-button-toggle>
  <mat-button-toggle class="button-two-arp"  value="button2">second button</mat-button-toggle>
  <mat-button-toggle  class="button-three-arp"  value="button3">third button</mat-button-toggle>
  <mat-button-toggle  class="button-four-arp"  value="button4">third button</mat-button-toggle>
  {{toggleGroup.value}}
</mat-button-toggle-group>
<canvas #canvasEl width="600" height="300" class="canvas-wave" (click)="draw()" > </canvas>


