<p>gater works!</p>
<svg width="680" height="200" [ngStyle]="{ position:'absolute', left:'16px' , top:'40px'}">
  <rect *ngFor="let cell of cellsHeights;  let k = index"
        width=19px  [attr.height]="cellsHeights[k]" fill="#696969"
        [attr.stroke]="cellColors[k]"  stroke-width="0.2%"
        [attr.y]=120-cellsHeights[k]   [attr.x]=21*k  (click)="changeCurrentCell(k)"/>
  <path [attr.d]='color' stroke="#DCDCDC" fill="#DCDCDC" />
</svg>
